<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>games</title>
  </head>
  <body>
    <%- include("./partials/navbar") %>
    <h1>available games</h1>
    <ul>
      <% games.forEach(game => { %>
      <li><%= game.title %> <a href=<%= `/games/${game.id}` %>>see details</a></li>
      <% }) %>
    </ul>
    <a href="/games/new">add game</a>
  </body>
</html>
